body{
    background-color: dodgerblue;
}
.box{
    
    
    max-width: 75%;
    border-radius: 5px; 
    margin: auto;
    padding: 5%;
    background: #fff;
    margin-top: 2%;
}
p{
    color: rgba(0, 0, 0, 0.6);
}
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0.5px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .collapsible:hover{
      background-color:dodgerblue; 
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    height: 250px;
  }
  input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 9px;
}
select{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.btn{
    float: right;
    padding: 10px;
    margin-top: 1%;
    background: dodgerblue;
   
    border-radius: 10%;
}
.btn:hover{
    color: bisque;
}
